header(class='header')
  div(class='flex')
    div(class='flex-i __shift')
      include logo.pug
      div(class='go-progmm')
        div(class='go-progmm_t')='Lorem ipsum dolor sit amet'
        div(class='go-progmm_dsc')='Lorem ipsum dolor sit amet'
        button(class='go-progmm_btt')='Lorem ipsum'
    div(class='flex-i')
      div(class='header-pic')
        include menu.pug
        div(class='header-pic_cup')
          img(class="header-pic_cup_i", src='./res/index-can.png')