nav(class='main-nav')
  mixin navLink(title, url, count)
    a(href=url, class="main-nav_lk")&attributes(attributes)= title

  +navLink('Home', '#')(class='__active')
  +navLink('Products', '#')
  +navLink('Programm', '#')