footer(class='footer')
  div(class='flex __center')
    div(class='flex-i')
      div(class='footer-logo')
        img(class='social'+' '+ex,  src="./res/logo.svg#logo", width="128", height="24", alt="Cat Energy")
    div(class='flex-i __wide')
      img(class='social'+' '+ex,  src="./res/social-FB.svg#fb", width="23", height="29", alt="Facebook")
      img(class='social'+' '+ex,  src="./res/social-IG.svg#ig", width="23", height="23", alt="Instagram")
    div(class='flex-i')='HTML Academy'