footer(class='footer')
  div(class='flex __center')
    div(class='flex-i')
      div(class='footer-logo')
        svg(width='128px', height='24px')
          use(xlink:href='./res/logo.svg#logo')
    div(class='flex-i __wide')
      svg(width='23px', height='29px')
          use(xlink:href='./res/social-FB.svg#fb')
      svg(width='23px', height='23px')
          use(xlink:href='./res/social-IG.svg#ig')
    div(class='flex-i')='HTML Academy'