mixin sectionItem(num, svgurl, text)
  div(class='section-item')
    div(class='section-item_num')=num
    div(class='section-ic')
      span(class='section-ic_cnt')
          svg(class='section-ic_url')
            use(xlink:href=svgurl)
    div(class='section-item_tx')=text


div(class='section')
  div(class='section-title')='Lorem ipsum dolor'
  div(class='flex')
    div(class='flex-i')
      +sectionItem('1', './res/section/leaf.svg#leaf', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do')
    div(class='flex-i')
      +sectionItem('2', './res/section/tub.svg#tub', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do')
    div(class='flex-i')
      +sectionItem('3', './res/section/eat.svg#eat', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do')
    div(class='flex-i')
      +sectionItem('4', './res/section/alarm.svg#alarm', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do')
