div(class='flex __banner')
  mixin buner(ic, ex, svgurl, title, dsc, urltext, url)
    div(class='bunner')
      div(class='bunner-header')
        div(class='bunner-ic')
          span(class='banner-ic_cnt')
            img(class='banner-ic_i'+' '+ex,  src=svgurl)

        div(class='bunner-title')=title
      div(class='bunner-dsc')=dsc
      div(class='bunner-footer')
        a(href=url, class='bunner-url')=urltext
          span(class='bunner-url_arrow')
            <svg width="32" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path stroke="#000" stroke-width="2" d="M0 6h18"/>
              <path d="m24 6-6.75 5.196V.804L24 6Z" fill="#000"/>
            </svg>

  div(class='flex-i')
    +buner('/', '__cat', './res/banner-cat.svg#banner-cat', 'Lorem ispum', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', 'more', '#')
  div(class='flex-i')
    +buner('/', '__leo',  './res/banner-leo.svg#banner-leo', 'Excepteur sint', 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.', 'go catalog', '#')