doctype html
html(lang="en")
    head
      title Cat Energy Layout
      link(rel="stylesheet", href="./scss/style.scss")
        
    body
      div(class='site')
        div(class='island')
          include template/header/header.pug
        div(class='island __shift')
          include template/bunner/bunner.pug