/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */

.header {
  
}

.header-pic {
  position: relative;
  height: 694px;
  background: #64a83b url('../res/index-background-desktop.jpg') right 0 no-repeat;
}

.header-cup {
  position: absolute;
  top: 86px;
  right: -396px;
  z-index: 2;
}

.go-progmm {
  position: relative;
  padding-top: 110px;
  padding-left: 80px;

  font-size: 20px;
  text-transform: uppercase;
}

.go-progmm_t {
  padding-right: 36px;
  font-size: 60px;
  line-height: 60px;
}

.go-progmm_dsc {
  padding-top: 40px;
  padding-bottom: 52px;
}

.go-progmm_btt {
  position: relative;
  z-index: 3;
  padding: $shift*3 $shift*6;

  color: #fff;
  text-transform: uppercase;
  background-color: $main-color;
  border: 0;
  cursor: pointer;
}