/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */


@media (max-width: $mobile) {

  .flex.__media-wide {
    display: block;

    .flex-i {
      width: 100%;
    }
  }

  .header-pic {
    background: none;
  }

  .main-nav_lk {
    color: #000;

    &.__active {
      border-bottom-color: $main-color;
    }
  }

  .flex.__header-programm {
    .flex-i {
      width: 100%;
    }

    .flex-i.__pic {
      display: none;
    }
  }

  .go-progmm {
    padding-left: 0;
    padding-bottom: 0;

    text-align: center;
  }

  .go-progmm_t {
    padding-right: 0;
    font-size: 36px;
    line-height: 42px;
  }

  .go-progmm_dsc {
    padding-top: 20px;
  }

  .header-cup {
    width: 280px;
    left: 50%;
    margin-left: -140px;
    position: relative;
    bottom: 0;
  }

  .header-cup_i {
    width: 100%;
  }

  .go-progmm_btt {
    width: 100%;
    box-sizing: border-box;
  }
  
}