/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */


@media (max-width: $mobile) {

  $site-shift: 20px;

  .island {

    &.__shift {
        padding: 20px $site-shift;
    }

    &.__shift-notop {
      padding: 0 $site-shift 20px;
    }
  }

  .flex:not(.__center) {
    flex-wrap: wrap;
  }

  .flex-i {

    .flex.__4 & {
      width: 100%;
    }

    &.__shift {
      padding-top: 12px;
      padding-left: $site-shift;
      padding-right: $site-shift;
    }

    .flex.__banner & {
      width: 100%;
    }

    .flex.__banner & + & {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .footer {
    padding: 30px $site-shift;
  }

  .media-mobile {
    display: inline-block;
  }

  .media-desctop {
    display: none;
  }
  
}

@import "header-mobile";
@import "bunner-mobile";
@import "section-mobile";