.main-nav {
  padding-top: 72px;
  padding-left: 30px;
}

.main-nav_lk {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;

  &.__active {
    border-bottom: 2px solid #fff;
  }

  & + & {
    margin-left: 36px;
  }
}

.nav-checkbox {
  display: none;
}

.nav-trigger {
  position: relative;
  display: none;
  box-sizing: border-box;

  width: 30px;
  height: 20px;

  border-top: 2px solid #000;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;

    height: 2px;
    cursor: pointer;
    background-color: #000;
  }

  &:before {
    top: 7px;
  }

  &:after {
    bottom: 0;
  }
}