.main-nav {
  padding-top: 72px;
  padding-left: 30px;
}

.main-nav_lk {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;

  &.__active {
    border-bottom: 2px solid #fff;
  }

  & + & {
    margin-left: 36px;
  }
}