/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */


/* --------------- Common -------------------- */

body, html {
    margin: 0;

    font-family: Helvetica,sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

.site {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-i {
    width: 50%;

    &.__shift {
        padding-top: 52px;
        padding-left: 110px;
        box-sizing: border-box;
    }
}

/* --------------- /common -------------------- */


/* --------------- Imports -------------------- */
@import "header";
@import "nav-main";

/* --------------- /imports -------------------- */