/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */


/* --------------- Common -------------------- */

body, html {
    margin: 0;

    font-family: Tahoma, Helvetica,sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

.site {
    box-sizing: border-box;
}

.island {

    &.__shift {
        padding: 50px $site-shift;
    }

    &.__shift-notop {
        padding: 0 $site-shift 50px;
    }
}

.flex {
    display: flex;

    &.__pos {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &.__top100 {
        padding-top: 100px;
    }

    &.__center {
        align-items: center;
        white-space: nowrap;
    }
}

.flex-i {
    width: 50%;

    .flex.__4 & {
        width: 25%;
        }

        
    .flex.__4 & + & {
        padding-left: 36px;
    }

    &.__shift {
        padding-top: 52px;
        padding-left: $site-shift;
        box-sizing: border-box;
    }

    &.__top100 {
        padding-top: 100px;
    }

    .flex.__center & {
        width: auto;
    }

    &.__wide {
        flex: 1 100%;
        text-align: center;
    }

    .flex.__banner & + & {
        margin-left: 50px;
    }
}

.media-mobile {
    display: none;
}

/* --------------- /common -------------------- */


/* --------------- Imports -------------------- */

@import "header";
@import "nav-main";
@import "bunner";
@import "section";
@import "footer";

/* --------------- /imports -------------------- */


/* --------------- Imports media -------------------- */

@import "tablet";
@import "mobile";

/* --------------- /imports media -------------------- */