/* --------------- Vars -------------------- */

@import "vars";

$site-shift: 110px;

/* --------------- /vars -------------------- */


/* --------------- Common -------------------- */

body, html {
    margin: 0;

    font-family: Tahoma, Helvetica,sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

.site {
    box-sizing: border-box;
}

.island {

    &.__shift {
        padding-left: $site-shift;
        padding-right: $site-shift;
    }
}

.flex {
    display: flex;

    &.__pos {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
    }

    &.__top100 {
        padding-top: 100px;
    }
}

.flex-i {
    width: 50%;

    &.__shift {
        padding-top: 52px;
        padding-left: $site-shift;
        box-sizing: border-box;
    }

    &.__banner {
        margin-left: 50px;
    }

    &.__top100 {
        padding-top: 100px;
    }

    &.__bg-gray {
        background-color: #f2f2f2;
    }
}

/* --------------- /common -------------------- */


/* --------------- Imports -------------------- */

@import "header";
@import "nav-main";
@import "bunner";

/* --------------- /imports -------------------- */


/* --------------- Imports media -------------------- */

@import "tablet";

/* --------------- /imports media -------------------- */