
@media (max-width: $tablet) {

  $site-shift: 30px;

  .island {

    &.__shift {
        padding: 30px $site-shift;
    }
  }

  .flex-i {
    &.__shift {
      padding-left: $site-shift;
    }
  }

  .flex-i {
  
      &.__banner {
        margin-left: 0;
        margin-top: 30px;
      }
  }
  
}

@import "header-tablet";