/* --------------- Vars -------------------- */

@import "vars";

/* --------------- /vars -------------------- */


@media (max-width: $tablet) {

  $site-shift: 30px;

  .island {

    &.__shift {
        padding: 30px $site-shift;
    }

    &.__shift-notop {
      padding: 0 $site-shift 30px;
    }
  }

  .flex:not(.__center) {
    flex-wrap: wrap;
  }

  .flex-i {
    .flex.__4 & + & {
      padding-left: 0;
    }

    .flex.__4 & {
        width: 50%;
    }
    

    &.__shift {
      padding-left: $site-shift;
    }

    .flex.__banner & {
      width: 100%;
    }

    .flex.__banner & + & {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .footer {
    padding: 30px $site-shift;
  }
  
}

@import "header-tablet";